
div.workingArea{
	margin:0px 40px;
}

div.addDiv{
	width:400px;
	margin:0px auto;
}
div.editDiv{
	width:400px;
	margin:0px auto;
	
}

table.addTable{
	width:100%;
}
table.editTable{
	width:100%;
}
table.editTable td{
	padding:5px;
}

table.addTable td{
	padding:5px;
}
	
div.pageDiv{
	text-align:center;
}
div.listDataTableDiv{
	min-height:220px;
}
div.footer{
	margin:20px;
}
div.editPVDiv{
	width:800px;
	margin:0 auto;
	
}
span.pvName{
	display:inline-block;
	width:100px;	
	color:#555555;
	font-size:16px;
/* 	font-weight:bold; */
	margin-left:20px;
	
}
div.eachPV{
	float:left;
	margin:5px;
}
span.pvValue{
	display:inline-block;
	width:200px;
	border:1px solid lightgray;	
	padding:0px;
}
span.pvValue input{
	border-width:0px;
}
div.addPictureDiv{
	width:400px;
}
table.addPictureTable{
	
}
td.addPictureTableTD{
	padding:10px 100px;
	text-align:center;	
	vertical-align: top;
}
div.orderPageOrderItem{
	width:100%;
	padding:20px;
}
table.orderPageOrderItemTable td{
	padding:5px;
}
tr.orderPageOrderItemTR{
	display:none;
}
ul.pagination a.current{
	font-weight:bold;
	color:black;
}
td{
	text-align: center;
	font-size:14px;
}
th{
	text-align: center;
	font-size:14px;
}
div.tableContainer{
	display: table;
    marigin: 100%;
}
.tableRow{
	display: table-row;
    margin: 0 auto;
    padding: 0 auto;
}
.sideBar{
	display: table-cell;
	vertical-align: top;
    margin: 10px 100px 0 0;
}
.mainContent{
	display: table-cell;
	vertical-align: top;
}

div.sideBar .list-item{
	display: block;
	font-size: 105%;
	width: 150px;
	border-style: solid;
	text-align: center;
}
a.link{
	text-decoration: none;
}
#timeTable th{
    width: 120px;
}
#timeTable tr{
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: smaller;
}
#timeTable td{
    width: 75px;
}
table.orderListItemTable {
	border: 2px solid #ECECEC;
	width: 100%;
	margin: 20px 0px;
}

table.orderListItemTable:hover {
	border: 2px solid #aaa !important;
}

tr.orderListItemFirstTR {
	background-color: #F1F1F1;
	font-size:12px;
}

table.orderListItemTable td {
	padding: 8px 10px;
}

div.orderItemWangWangGif {
	display: inline-block;
	width: 67px;
	height: 22px;
	background-image: url(../../img/site/wangwang.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	background-attachment: scroll;
	background-position: -0px -0px;
	position: relative;
	top: 0px;
	left: 2px;
}

span.orderListItemDelete {
	display: inline-block;
	margin: 0px 10px;
	color: #999999;
	font-size: 16px;
}

div.orderListItemProductLinkOutDiv {
	position: relative;
	height: 80px;
	font-size:12px;
}

div.orderListItemProductLinkInnerDiv {
	position: absolute;
	bottom: 0px;
}

div.orderListItemProductOriginalPrice {
	color: #999999;
	font-size: 14px;
}

div.orderListItemProductPrice {
	color: #3C3C3C;
	font-size: 14px;
}

div.orderListItemProductRealPrice {
	color: #3C3C3C;
	font-size: 14px;
	font-weight: bold;
}

div.orderListItemPriceWithTransport {
	color: #6C6C6C;
	font-size: 12px;
}

td.orderListItemProductRealPriceTD {
	text-align: center;
}

button.orderListItemConfirm {
	background-color: #66B6FF;
	border-radius: 2px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	border-width: 0px;
	padding: 6px 12px;
}

button.orderListItemConfirm:hover {
	background-color: #118ADB;
}

button.orderListItemReview {
	border: 1px solid #DCDCDC;
	background-color: #fff;
	border-radius: 2px;
	color: #3C3C3C;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 12px;
}

button.orderListItemReview:hover {
	border-color: #C40000;
	color: #C40000;
}

td.orderItemDeleteTD {
	text-align: right;
}

td.orderListItemButtonTD {
	text-align: center;
}

span.orderListItemNumber {
	color: #3C3C3C;
}

td.orderListItemNumberTD {
	text-align: center;
}

#nav-main {
	margin-top: 20px;
	border-bottom: 3px solid gray;
}

#nav-main .nav-inner-box {
	width: 960px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	font-family: 微软雅黑, arial, sans-serif;
}

#nav-main ul {
	list-style: none;
}

#nav-main .nav-inner-box li {
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 16px;
	color: #666;
}


#nav-main .nav-inner-box li a {
	display: block;
	height: 30px;
	line-height: 30px;
	width: 87px;
	text-align: center;
	color: #666;!important;
	font-size: large;
}
